In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
stock_change = np.random.normal(0, 1, (10, 5))

In [4]:
stock_day_rise = pd.DataFrame(stock_change)

In [5]:
# 构造行索引序列
stock_code = ['股票' + str(i) for i in range(stock_day_rise.shape[0])]

# 添加行索引
data = pd.DataFrame(stock_change, index=stock_code)

In [6]:
# 生成一个时间的序列，略过周末非交易日
date = pd.date_range('2017-01-01', periods=stock_day_rise.shape[1], freq='B')

# index代表行索引，columns代表列索引
data = pd.DataFrame(stock_change, index=stock_code, columns=date)

In [7]:
data.shape

(10, 5)

In [8]:
data.index

Index(['股票0', '股票1', '股票2', '股票3', '股票4', '股票5', '股票6', '股票7', '股票8', '股票9'], dtype='object')

In [9]:
data.columns

DatetimeIndex(['2017-01-02', '2017-01-03', '2017-01-04', '2017-01-05',
               '2017-01-06'],
              dtype='datetime64[ns]', freq='B')

In [10]:
data.values

array([[-1.20045320e+00,  2.86522749e-01, -2.86580879e-01,
        -1.07339122e+00,  1.57833318e+00],
       [-6.11105235e-03, -1.76618813e-03,  8.92957747e-01,
        -3.81486989e-01,  1.48333475e+00],
       [-4.90076320e-01,  1.58146622e+00, -1.53453277e+00,
         4.25127176e-01,  1.16487854e-01],
       [-1.74277919e+00, -2.35003541e-01,  7.30924600e-03,
        -3.23024646e-01, -5.37872656e-01],
       [-1.22188092e+00, -6.24945874e-01,  3.89926427e-01,
         2.58244237e-02,  4.59044845e-01],
       [ 6.37083664e-01,  1.11662976e+00,  1.25219227e+00,
        -3.62733499e-01,  1.23427134e+00],
       [ 3.00234980e-01, -1.68155360e+00, -9.58954981e-01,
         1.68611927e-01,  1.07467154e+00],
       [ 2.03353075e+00, -9.19406434e-01, -4.84184702e-01,
         3.75910965e-01, -1.08994169e+00],
       [ 1.00060861e+00,  8.10011965e-01,  9.74598976e-01,
        -1.49492184e+00,  2.91665819e-01],
       [-1.59150802e+00, -3.42284683e-01, -8.76482399e-01,
         5.57702894e-01, -7.89053580e-01]])

In [11]:
data.T

,股票0,股票1,股票2,股票3,股票4,股票5,股票6,股票7,股票8,股票9
2017-01-02,-1.200453,-0.006111,-0.490076,-1.742779,-1.221881,0.637084,0.300235,2.033531,1.000609,-1.591508
2017-01-03,0.286523,-0.001766,1.581466,-0.235004,-0.624946,1.116630,-1.681554,-0.919406,0.810012,-0.342285
2017-01-04,-0.286581,0.892958,-1.534533,0.007309,0.389926,1.252192,-0.958955,-0.484185,0.974599,-0.876482
2017-01-05,-1.073391,-0.381487,0.425127,-0.323025,0.025824,-0.362733,0.168612,0.375911,-1.494922,0.557703
2017-01-06,1.578333,1.483335,0.116488,-0.537873,0.459045,1.234271,1.074672,-1.089942,0.291666,-0.789054

In [12]:
data.head(5)

     2017-01-02  2017-01-03  2017-01-04  2017-01-05  2017-01-06
股票0   -1.200453    0.286523   -0.286581   -1.073391    1.578333
股票1   -0.006111   -0.001766    0.892958   -0.381487    1.483335
股票2   -0.490076    1.581466   -1.534533    0.425127    0.116488
股票3   -1.742779   -0.235004    0.007309   -0.323025   -0.537873
股票4   -1.221881   -0.624946    0.389926    0.025824    0.459045

In [13]:
data.tail(5)

     2017-01-02  2017-01-03  2017-01-04  2017-01-05  2017-01-06
股票5    0.637084    1.116630    1.252192   -0.362733    1.234271
股票6    0.300235   -1.681554   -0.958955    0.168612    1.074672
股票7    2.033531   -0.919406   -0.484185    0.375911   -1.089942
股票8    1.000609    0.810012    0.974599   -1.494922    0.291666
股票9   -1.591508   -0.342285   -0.876482    0.557703   -0.789054

In [14]:
stock_code = ["股票_" + str(i) for i in range(stock_day_rise.shape[0])]

# 必须整体全部修改
data.index = stock_code

In [15]:
# 重置索引,drop=False
data.reset_index()

,index,2017-01-02 00:00:00,2017-01-03 00:00:00,2017-01-04 00:00:00,2017-01-05 00:00:00,2017-01-06 00:00:00
0,股票_0,-1.200453,0.286523,-0.286581,-1.073391,1.578333
1,股票_1,-0.006111,-0.001766,0.892958,-0.381487,1.483335
2,股票_2,-0.490076,1.581466,-1.534533,0.425127,0.116488
3,股票_3,-1.742779,-0.235004,0.007309,-0.323025,-0.537873
4,股票_4,-1.221881,-0.624946,0.389926,0.025824,0.459045
5,股票_5,0.637084,1.116630,1.252192,-0.362733,1.234271
6,股票_6,0.300235,-1.681554,-0.958955,0.168612,1.074672
7,股票_7,2.033531,-0.919406,-0.484185,0.375911,-1.089942
8,股票_8,1.000609,0.810012,0.974599,-1.494922,0.291666
9,股票_9,-1.591508,-0.342285,-0.876482,0.557703,-0.789054

In [16]:
# 重置索引,drop=True
data.reset_index(drop=True)

   2017-01-02  2017-01-03  2017-01-04  2017-01-05  2017-01-06
0   -1.200453    0.286523   -0.286581   -1.073391    1.578333
1   -0.006111   -0.001766    0.892958   -0.381487    1.483335
2   -0.490076    1.581466   -1.534533    0.425127    0.116488
3   -1.742779   -0.235004    0.007309   -0.323025   -0.537873
4   -1.221881   -0.624946    0.389926    0.025824    0.459045
5    0.637084    1.116630    1.252192   -0.362733    1.234271
6    0.300235   -1.681554   -0.958955    0.168612    1.074672
7    2.033531   -0.919406   -0.484185    0.375911   -1.089942
8    1.000609    0.810012    0.974599   -1.494922    0.291666
9   -1.591508   -0.342285   -0.876482    0.557703   -0.789054

In [17]:
#设置新索引
df = pd.DataFrame({'month': [1, 4, 7, 10],
                    'year': [2012, 2014, 2013, 2014],
                    'sale':[55, 40, 84, 31]})
df.set_index('month')

       year  sale
month
1      2012    55
4      2014    40
7      2013    84
10     2014    31

In [18]:
df.set_index(['year', 'month'])

            sale
year month
2012 1        55
2014 4        40
2013 7        84
2014 10       31

In [19]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [20]:
df.index.names

FrozenList([None])

In [21]:
df.index.levels

AttributeError: 'RangeIndex' object has no attribute 'levels'

In [22]:
#Panel
p = pd.Panel(np.arange(24).reshape(4,3,2),
                 items=list('ABCD'),
                 major_axis=pd.date_range('20130101', periods=3),
                 minor_axis=['first', 'second'])
p

AttributeError: module 'pandas' has no attribute 'Panel'

In [24]:
# series
type(data['2017-01-02'])
pd.core.series.Series

# 这一步相当于是series去获取行索引的值
data['2017-01-02']['股票_0']

-1.200453203639656

In [26]:
#创建series
#指定内容 默认索引
pd.Series(np.arange(10))

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

In [27]:
#指定索引
pd.Series([6.7,5.6,3,10,2], index=[1,2,3,4,5])

1     6.7
2     5.6
3     3.0
4    10.0
5     2.0
dtype: float64

In [29]:
#通过字典数据创建
pd.Series({'red':100, 'blue':200, 'green': 500, 'yellow':1000})

red        100
blue       200
green      500
yellow    1000
dtype: int64